html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.hecla-container {
  margin-top: 3em !important;
}

.hecla-list {
  height: 75vh !important;
  overflow: scroll !important;
  overflow-x: hidden !important;
}

.music-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.music-item.item img {
  max-width: 100px;
}
